.editAndDelete {
  border: none;
  background-color: unset;
  font-size: 18px;
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
  left: 60px;
  top: 25px;
}

.page-content {
  padding: 4rem; 
}

.date-select {
  position: relative;
  bottom: 25px;
}

.furniture-select {
  position: relative;
  bottom: 10px;
}

.create-button {
  position: relative;
  top: 30px;
}

.furniture-cart {
  position: relative;
  top: 20px;
}

.add-button {
  position: relative;
  top: 10px;
}

.final-table {
  position: relative;
  top: 50px;
}

.print-button {
  position: relative;
  top: 45px;
}

.form-inline {
  width: 100%;
}

.form-group {
  width: 90%;
}

.input-group {
  width: 90% !important;
}

.form-control {
  width: 11% !important;
}

span.input-group-addon {
  width: 50px !important;
}