.App {
  background-color: #EAEAEA;
}

.editAndDelete {
  border: none;
  background-color: unset;
  font-size: 18px;
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
  left: 60px;
  top: 25px;
}

.page-content {
  padding: 4rem; 
}

.date-select {
  position: relative;
  bottom: 25px;
}

.furniture-select {
  position: relative;
  bottom: 10px;
}

.create-button {
  position: relative;
  top: 30px;
}

.furniture-cart {
  position: relative;
  top: 20px;
}

.add-button {
  position: relative;
  top: 10px;
}

.final-table {
  position: relative;
  top: 50px;
  background-color: white;
}

.print-button {
  position: relative;
  top: 45px;
  left: 5px;
}

.cancel-button {
  position: relative;
  top: 45px;
}

.form-inline {
  width: 100%;
}

.form-group {
  width: 90%;
}

.input-group {
  width: 90% !important;
}

.form-control {
  width: 22% !important;
  /* border-color: #767676 !important; */
  border: 0.1px solid #767676 !important;
  border-radius:0px !important;
  padding-bottom: 2px !important;
  padding-top: 2px !important;
}

.form-control:focus {
  outline: silver !important;
  box-shadow: none !important;
}

.list-group-item {
  padding-top: 20px !important;
  padding-bottom: 25px !important;
}

.listItem.list-group-item {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

input:focus {
  box-shadow: none;
}

span.input-group-addon {
  width: 50px !important;
}

.roundCorner  
{  
    border-radius: 25px;
    border-style: solid;
    border-color: #2AA59B;
    background-color: #2AA59B;  
    color:#FFFFFF;  
    text-align :center;  
    font-family:arial, helvetica, sans-serif;  
    padding: 6px 10px 10px 10px;  
    font-weight:bold;  
    width:100px;  
    height:40px;  
}

.Selections-container {
  padding: 1.5rem;
  padding-top: 48px;
  padding-bottom: 30px;
  width: 900px;
  box-shadow: 0 0 28px 4px rgba(0,0,0,0.1);
  background-color: white;
}

.image {
  position: relative;
  bottom: 29px;
}

.card-title {
  display:inline-block;
  vertical-align:middle;
  position: relative;
  bottom: 20px;
  left: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
}

.image {
  display:inline-block;
  vertical-align:middle;
}

.Selection-fields {
  padding-top: 30px;
  padding-bottom: 15px;
}

.arrow-icon {
  float: right;
  position: relative;
  bottom: 40px;
  left: 15px;
}

.badge {
  background-color: #FF9549;
}
